
<ion-view view-title="Welcome">
	
	<div class="img">
	<img ng-src="img/homeimage.jpg">
	</div>


<div class="row row_img_profile">
	<div class="">
    	<img class="img_profile" ng-src='{{imageUrl}}'>
    </br>
    <h3 style="margin-left: 15px; font-weight: 200;">{{username}}</h3>
	</div>

</div>

	

<div class="row" style="margin-left: 5%; margin-top: 10%;">
	<div class="col">
		
		<div class="div-icon"> <a href="#">
			<h5 class="header-icons-home"> {{unReadMessages}} </h5>
			<img class="img_icons" ng-src="img/Message-48.png"> </a>
		
		</div>
    	
	</div>
	<div class="col">
		
    	<div class="div-icon"> <a href="#/tab/upcomingActivities/0">
    		<h5 class="header-icons-home-transparent"> {{unReadActivities}} </h5>
    		<img class="img_icons" ng-src="img/Calendar-48.png"></a> 
		</div>
	</div>
	<div class="col">
    	<div class="div-icon"> <a href="#/tab/updateProfile">
    		<h5 class="header-icons-home-transparent">  </h5>
    		<img class="img_icons" ng-src="img/Services-48.png"></a>
    		
		</div>
	</div>
</div>
	


</ion-view>
