
<ion-view view-title="Welcome">
	
	<div class="img">
	<img ng-src="img/homeimage.jpg">
	</div>


<div class="row row_img_profile">
	<div class="">
    	<img class="img_profile" ng-src="img/ben.png">
    </br>
    <h3 style="margin-left: 10%;">{{username}}</h3>
	</div>

</div>

	

<div class="row" style="margin-left: 5%; margin-top: 10%;">
	<div class="col">
		<div class="div-icon"> <a href="#"><img class="img_icons" ng-src="img/Message-48.png"></a>
		</div>
    	
	</div>
	<div class="col">
    	<div class="div-icon"> <a href="#/tab/upcomingActivities/0"><img class="img_icons" ng-src="img/Calendar-48.png"></a>
		</div>
	</div>
	<div class="col">
    	<div class="div-icon"> <a href="#"><img class="img_icons" ng-src="img/Services-48.png"></a>
		</div>
	</div>
</div>
	


</ion-view>
