
  <ion-modal-view>
    <ion-header-bar>
      <button class="button button-clear button-positive" ng-click="closeModal()"> Cancel </button>
      <h1 class="title">{{parentName}}</h1>
      
    </ion-header-bar>
    <ion-content style="bottom: 100px;" delegate-handle="modalContent">

    <ion-list ng-repeat="(key, value) in messageList | groupBy: 'created_date'">
      <div class="message-list">
      <div class="item item-divider" id="activity-divider" ion-affix data-affix-within-parent-with-class="list">
        <h2> {{key}} </h2>
      </div>

      <div ng-repeat="message in value">
        <div ng-class="{'receiver-message' : message.sender_id == '{{parentid}}' ,'sent-message': message.sender_id == '{{userDetails.id}}'}">
        <p class="message-text"> {{message.message_text}} </p>
        <p class="sent-date">sent at: {{message.created_at | date: 'shortTime'}} </p>
        </div>
       </div> 
       </div>
</ion-list>
	     

    </ion-content>
      <div class="bar bar-footer" style="height: 85px;">
        <textarea rows="4" cols="50"  placeholder="Say something more.." ng-model="message.text" >
              
        </textarea>

        <button class="button button-clear" ng-click="sendMessage()" style="color: black;">
          Send
        </button>
      </div>
  </ion-modal-view>

