/* Empty. Add your own CSS if you like */

/* style for home page */
.header-icons-home{
  
    padding-left: 5px;  
    margin-top: -5px;
    font-weight: 400;
    z-index: -1;
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    color: white;
    border-style: solid;
    border-color: red;
    border-width: thin;
    
}
.header-icons-home-transparent{
  padding-left: 5px;  
    margin-top: -5px;
    font-weight: 400;
    z-index: -1;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 50%;
    color: transparent;
    
}

.div-icon a{
  text-decoration: none;
    
}
.div-icon{
  width: 60px;
height: 60px;
border-radius: 50%;
background-color: white;
border-width: 1px;
border-color: #11c1f3;
border-style: solid;
margin-top: 10px;
}

.img_icons{
  margin-left: 16%;
    margin-top: -14px;
    height: 39px;
}

/* style for side items to darken main items*/
.mainItem{
  min-height: 5px;
  background-color: #F5F5F5;
}

.background, .background .pane, .background   {
    background-color: #f2f2f2;
}
#divPost{
	padding-left: 5px;
	padding-right: 5px;
}
#imgPost{
	/*width: 103.8%;
  margin-left: -6px;*/
}
#divLogin{
	
  width: 300px;
  margin: auto;
  
  display: block;
  margin-top: 180px;
}
#divListCardForActivities{
	padding-top: 0px;
  margin-bottom: -10px;

}
.img-student{
  margin-top: 5px;
  height: 45px;
  width: 45px;
  background-color: white;
  border-radius: 50%;
}
.header-student-name{
      color: white;
    margin-left: 10px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 300;

}

#activity-divider{
  background-color: white;
  background-color: #f8f8f8;
    
    display: inline-block;
    border-radius: 7.5px;
    
    padding: 5px 12px 6px;
    box-shadow: 0 1px .5px rgba(0,0,0,.13);
    height: 0px;
}
#imgTakePicture{
	height: 300px;
	width: 100%;
}
.ion-images:before{
  font-size: 30px;
}

.button-post-activity{
  margin-left: 36%;
}
button i.ion-ios-camera:before{
  font-size: 30px;
}
.ion-ios-compose:before{
  font-size: 30px;
}
#divSuccessLabel{
	font-size: 15px;
	color: #1aa3ff;
}
.item h2{
	font-weight: 450;
}

#itemUserList{
	min-height: 70px;
}
.item-avatar,
.item-avatar .item-content{
	min-height: 7px;
}
#divActivityHeader{
	height: 60px;
  border-width: 0px;
}
.item-body{
	padding: 6px;
}
#divActivityOptions{
	height: 70px;
    width: inherit;
    padding-left: 20px;
    align-content: center;
    background-color: #4D4D4D;
}
#divActivityOptions .button{
	color: white !important;
	font-size: inherit;
}

/****  sendmessage-modal.html css *****/
.receiver-message{
    background-color: rgba(51, 205, 95, 0.68);
    margin-bottom: 10px;
    border-radius: 5px;
    min-width: 30%;
    max-width: 70%;
    min-height: 40px;
    margin-left: 1%;
    margin-top: 10px; 
}

.sent-message{
    background-color: #238df8;
    margin-bottom: 10px;
    border-radius: 5px;
    min-width: 30%;
    max-width: 70%;
    min-height: 40px;
    margin-left: 40%; 
    margin-top: 10px; 
    margin-right: 3px;
}
.sent-date{
    text-align: right;
    color: white;
    font-size: smaller;
    margin-right: 3px;
}
.message-text{
  color: white;
  margin-left: 5px
}
.message-list{
  margin-top: -45px;
}
/****  color for time in events *****/
.event {
    color: #11c1f3;
    font-weight: 300;
}
#itemEventTime{
	background-color: #F5F5F5
}

/** Messages.Html  **/
.unread-messages{
      margin-left: 15%;
    background-color: rgba(255, 0, 0, 0.69);
    text-align: center;
    
    border-radius: 40%;
    width: 30px;
    height: 23px;
}

.unread-mess p{
  color: white;
  font-size: 10px;
}
.unread-mess{
  right: -220px;
    position: absolute;
    padding: 10px;
}

/****  size of buttons and font in activities page *****/

.button-icon .icon::before{
	font-size: 15px
} 
#btnActivitiesControl{
	font-size: 12px
}

/****  css for event details *****/
.talk-cover {
    padding: 10px;
    padding-top: 20px;
    background-size: cover;
    background-color: #4D4D4D;
}

.talk-cover h3 {
    color: white !important;
    font-weight: 450;
}

.talk-cover p {
    color: white !important;
}

.centered {
    text-align: center;
    font-weight: 300;
}
.divEventlist{
	padding-top: 5px
}
.padding, .input-label{
	font-weight: 300;
}

div.img img {
   width: 100%;
   height: 230px;
} 

.profile__image {
    text-align: center;
    line-height: 125px;
    margin-left: 34px;
    margin-bottom: 17px;
    background: #4D4D4D;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 300;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-top: 10px;
    float: left;
    
    
}
.img_profile {
  width: 136px;
  height: 136px;
  border-radius: 50%;
}
.row_img_profile{
  margin-left: 0%;
  margin-top: -15%;
}



/* Style for form error's */
.haserror {
  border-left: 1px solid #cc2511;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(204, 37, 17);
}

/* Style for login spinner in login.html */
.ion-spinner-login{
  position: relative;
    
    left: 45%;
    margin-right: -50%;
}

/* style for checkbox that grants student access in addStudent.html*/
.stdGrantAcess{
border-width: 0px;
font-size: 14px;
}

.lblWidth{
  width: inherit;
}


/* Login page css */
.content-login{
  background: url("../img/misc2.jpg") no-repeat;
  background-size: 100%;
  background-color: white;
  
}
.panel-footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  
  text-align: center;
}
  


